
*{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    /*border: 1px dashed grey;  Dashed lines for less intrusive visualization */
}

body {
    background-color:black;
    color:white;
}

/*  ===========================
        Hero Page Styles
    ===========================  */
#hero-page {
    width: 100vw;
    position: relative;
    overflow: hidden; /* Ensures text doesn't overflow out */
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}

#bg-txt {
    font-size: 30vh;
    position: absolute;
    color: #2f2f2f62;
    top: 50%;
    left: 88%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    z-index: 0;
}

#hero-img img {
    height: 90vh;
    width: 90vh;
    border-radius: 50%;
    transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform-origin: bottom;
}

#hero-img img:hover {
    transform: scale(1.1);
    border-radius: 10%;
}

#hero-txt {
    position: relative;
    z-index: 2;
    align-self: center;
    position: absolute;
    bottom: 45%;
    left: 7%;
}

#hero-img {
    position: relative;
    z-index: 1; /* Place it on top of the background text */
    height: 90vh;
    width: 90vh;
    padding-left: 70vh;
}

#hero-txt h1 {
    font-size: 9vh;
    margin-bottom: 0.5rem; 
}

#hero-txt p {
    font-size: 3vh;
    margin-top: 0.5rem; 
    margin-left: 1.5rem;
}

/*HERO PAGE NAV*/
#hero-page nav {
    z-index: 2;
    position: relative; /* Set position to create a stacking context */
}

#hero-page nav ul {
    display: flex;
    list-style: none;
}

#hero-page nav li {
    height: 50px;
}

#hero-page nav a {
    height: 100%;
    padding: 0 3vh;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}

#hero-page nav a:hover {
    background-color: #1b1b1b;
}